.btn-blue {
  background-color: black;
  margin-left: 0px;
  padding: 20px 30px;
  border-radius: 4px;
  font-size: 25px;
  color: white;
  font-weight: bold;
  font-family: 'avenir';
  margin-left: 170px;
}
